# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
temp_auto_push.bat
.venv/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.gitignore
temp_interactive_push.bat
